#include <stdio.h>
#include <stdlib.h>

int main(void)
{
printf("type int has a size of %2d bytes.\n", sizeof(int));
printf("type char has a size of %2d bytes.\n", sizeof(char));
printf("type long has a size of %2d bytes.\n", sizeof(long));
printf("type long long has a size of %2d bytes.\n",sizeof(long long));
printf("type double has a size of %2d bytes.\n",sizeof(double));
printf("type long double has a size of %2d bytes.\n",sizeof(long double));
return 0;
}
